<div class="container-nav">
  <nav>
    <div class="nav-icon">
      <a href="<%= root_path %>"><i class="bi bi-arrow-left big-arrow icon"></i></a>
    </div>
    <div class="nav-items-register">
        <h4>REGISTER</h4>
        <h4>NEXT</h4>
    </div>
  </nav>
</div>
<br /> <br />
<div class="homePage">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "Name"%>
  </div><br />

  <div class="field">
    <%= f.text_field :role, autofocus: true, placeholder: "Role" %>
  </div><br />
  
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div><br />

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New-password" %>
  </div><br />

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "New-password" %>
  </div>
  <br /> <br />

  <div class="actions">
    <a><%= f.submit "Sign up" %></a>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

