<div class="container-nav">
  <nav>
    <div class="nav-icon">
      <a href="<%= root_path %>"><i class="bi bi-arrow-left big-arrow icon"></i></a>
    </div>
    <div class="av-items-register">
        <h4>REGISTER</h4>
    </div>
  </nav>
</div>
<br /> <br />
<div class="homePage">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div class="field">
 <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "Name", id: 'Name' %>   </div><br />

  <div class="field">
   <%= f.label :role %><br />
    <%= f.text_field :role, autofocus: true, placeholder: "Role", id: 'Role' %>
  </div><br />
  
  <div class="field">
   <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", id: 'Email' %>
  </div><br />

  <div class="field">
  <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New-password", id: 'Password' %>
  </div><br />

  <div class="field">
   <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "New-password", id: 'confirmed-password' %>
  </div>
  <br /> <br />

  <div class="actions">
    <a><%= f.submit "Next", class: "login" %></a>
  </div>
<% end %>
</div>

