<p style="color: green"><%= notice %></p>
<h1>Categories</h1>
<div>
  <% @categories.each do |category| %>
    <div>
      <%= link_to category_expenditures_path(category) do %>
        <div>
          <div>
            <i class="<%= category.icon %> fa-3x mx-3"></i>
            <h5><%= category.name %></h5>
          </div>
          <div>
            <h5><%= number_to_currency(category.expenditures.sum(:amount)) %></h5>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Add a new category", new_category_path %>
</div>

